[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

[run]
branch = True

omit =
    # omit anything in a .local directory anywhere
    */.local/*
    # omit analytical systems
    elastica/systems/analytical.py
	setup.py
