CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

subprojects/packagecache

subprojects/blaze
subprojects/blaze_tensor
subprojects/brigand
subprojects/cxxopts-3.1.1
subprojects/sleef
subprojects/tbb
subprojects/yaml-cpp
